.page-header {
  margin-bottom: 12px;
  padding-top: 35px;
}

.page-header__content {
  position: relative;
}

.page-header__blocksWrap {
  display: flex;
  justify-content: space-between;
  min-height: 300px;
  padding-left: 60px;
  padding-right: 60px;
  
  background-color: #f8e294;
}

.page-header__block-left {
  flex-grow: 1;
}

.page-header__search {
  display: flex;
  align-items: flex-end;
  max-width: 450px;
  margin-bottom: 38px;
}

.page-header__search-inputWrap {
  position: relative;
  
  flex-grow: 1;
}

.page-header__searchInput {
  .reset();
  
  position: relative;
  
  box-sizing: border-box;
  width: 100%;
  padding-left: 29px;
  
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  color: rgba(000, 000, 000, 0.3);
  
  background-color: transparent;
  
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  &::-webkit-input-placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;
    color: rgba(000, 000, 000, 0.3);

    opacity: 1;
  }
  &:-moz-input-placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;
    color: rgba(000, 000, 000, 0.3);

    opacity: 1;
  }
  &::-moz-placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;
    color: rgba(000, 000, 000, 0.3);

    opacity: 1;
  }
  &:-ms-input-placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;
    color: rgba(000, 000, 000, 0.3);

    opacity: 1;
  }
  &:hover {
    &::-webkit-input-placeholder {
      color: rgba(000, 000, 000, 0.6);
    }
    &:-moz-input-placeholder {
      color: rgba(000, 000, 000, 0.6);
    }
    &::-moz-placeholder {
      color: rgba(000, 000, 000, 0.6);
    }
    &:-ms-input-placeholder {
      color: rgba(000, 000, 000, 0.6);
    }
  }
  &:focus {
    color: rgba(000, 000, 000, 1);
    
    border-bottom: 2px solid #000000;
    &::-webkit-input-placeholder {
      color: rgba(000, 000, 000, 1);
    }
    &:-moz-input-placeholder {
      color: rgba(000, 000, 000, 1);
    }
    &::-moz-placeholder {
      color: rgba(000, 000, 000, 1);
    }
    &:-ms-input-placeholder {
      color: rgba(000, 000, 000, 1);
    }
  }
}

.page-header__search-icon {
  position: absolute;
  top: 9px;
  left: 0;
  
  display: block;
  
  .bg(@search);
}

.page-header__searchButton {
  .reset();
  
  display: none;
  width: 85px;
  padding-top: 17px;
  padding-bottom: 17px;
  
  font-size: 15px;
  font-weight: 300;
  line-height: 17px;
  
  background-color: transparent;
  
  border: 2px solid #000000;
}

.page-header__tab {
  .reset();
  
  position: relative;
  
  width: 186px;
  padding-right: 32px;
  
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  
  cursor: pointer;
  &::before,
  &::after {
    content: '';
    
    position: absolute;
    top: 9px;
    right: 11px;
    
    width: 16px;
    height: 2px;
    
    background-color: #000000;
    
    opacity: 0.3;
  }
  &::after {
    transform: rotate(-90deg);
  }
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}

.page-header__dropdownTab {
  position: absolute;
  top: 139px;
  left: 0;
  right: 0;
  z-index: 10;
  
  display: none;
  width: 89.6551724137931%;
  margin: 28px auto 0 auto;
  padding-bottom: 25px;
  
  background-color: #f8e294;
  &--vissible {
    display: flex;
  }
}

.page-header__dropdownList {
  .reset();
  
  width: 240px;
  
  list-style: none;
}

.page-header__tabItem {
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  text-decoration: none;
  color: #000000;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}

.page-header__block-right {
  width: 500px;
}

.page-header__contactsList {
  .reset();
  
  display: flex;
  
  list-style: none;
  &--footer {
    margin-bottom: 65px;
    .page-header__contactsItems {
      &:last-child {
        margin-left: 0;
      }
    }
    .page-header__contactsItem {
      color: #ffffff;
      line-height: 20px;
      letter-spacing: 3px;
    }
  }
}

.page-header__contactsItems {
  margin-right: 38px;
  &:last-child {
    margin-left: auto;
    margin-right: 0;
  }
}

.page-header__contactsItem {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}