.services {
  margin-bottom: 94px;
  
  background-color: #e6e6e6;
}

.services__slider {
  position: relative;
  top: -30px;
}

.services__slider-slide {
  position: relative;
  
  min-height: 288px;
  &--slide1,
  &--slide2,
  &--slide3 {
    .services__slider-slide-content {
      position: absolute;
      top: 0;
      left: 36%;
      
      width: 450px;
    }
    &::before {
      content: '';
      
      position: absolute;
      top: 8px;
      right: 5.172413793103448%;
    }
  }
  &--slide1 {
    &::before {
      .bg(@delivery);
    }
  }
  &--slide2 {
    &::before {
      top: -8px;
      
      .bg(@warranty);
    }
  }
  &--slide3 {
    &::before {
      top: -8px;
      
      .bg(@credit);
    }
  }
}

.services__slider-slide-headline {
  .reset();
  
  margin-bottom: 35px;
  
  font-size: 47px;
  line-height: 49px;
  font-weight: 700;
}

.services__slider-slide-text {
  .reset();
  
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #464646;
}

.services__slider-controls {
  position: absolute;
  top: -16px;
  left: 0;
  
  display: flex;
  flex-direction: column;
  &::before {
    content: '';
    
    position: absolute;
    top: -107px;
    right: 0;
    
    width: 7px;
    height: 319px;
    
    background-color: #000000;
  }
}

.services__slider-control {
  .reset();
  
  width: 278px;
  height: 26px;
  margin-bottom: 36px;
  padding-top: 14px;
  padding-bottom: 20px;
  
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  
  background-color: transparent;
  
  border: none;
  outline: none;
  &:last-child {
    margin-bottom: 0;
  }
  &--active {
    color: #f7e184;
    
    background-color: #000000;
    &::after {
      display: none;
    }
  }
  &--delivery,
  &--warranty,
  &--credit {
    position: relative;
    &::before,
    &::after {
      content: '';
      
      position: absolute;
      top: 3px;
      left: 19px;
    }
  }
  &--delivery {
    &::before {
      content: 'Доставка';
      
      z-index: 10;
      
      width: 160px;
    }
    &::after {
      top: 13px;
      z-index: 5;
      
      width: 160px;
      height: 8px;
      
      background-color: #f1c62a;
      
      transition: 0.1s ease;
    }
    &:hover {
      &::after {
        transform: scaleY(3);
      }
    }
  }
  &--warranty {
    &::before {
      content: 'Гарантия';
      
      z-index: 10;
      
      width: 160px;
    }
    &::after {
      top: 13px;
      z-index: 5;
      
      width: 160px;
      height: 8px;
      
      background-color: #f1c62a;
      
      transition: 0.1s ease;
    }
    &:hover {
      &::after {
        transform: scaleY(5);
      }
    }
  }
  &--credit {
    &::before {
      content: 'Кредит';
      
      z-index: 10;
      
      width: 160px;
    }
    &::after {
      top: 13px;
      z-index: 5;
      
      width: 160px;
      height: 8px;
      
      background-color: #f1c62a;
      
      transition: 0.1s ease;
    }
    &:hover {
      &::after {
        transform: scaleY(5);
      }
    }
  }
}

#services__slider-theme {
  .owl-dots {
    position: absolute;
    top: 12px;
    left: 0;

    display: flex;
    flex-direction: column;
    &::before {
      content: '';

      position: absolute;
      top: -85px;
      right: 0;

      width: 7px;
      height: 319px;

      background-color: #000000;
    }
  }
  .owl-dot {
    span {
      display: block;
      width: 278px;
      height: 3px;
      margin-bottom: 36px;
      padding-top: 14px;
      padding-bottom: 20px;

      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;

      background-color: transparent;

      border: none;
      outline: none;
    }
    &:first-child,
    &:nth-child(2),
    &:nth-child(3){
      span {
        position: relative;
        &::before,
        &::after {
          content: '';

          position: absolute;
          top: 3px;
          left: 28px;
        }
      }
    }
    &:first-child {
      span {
        &::before {
          content: 'Доставка';

          z-index: 10;

          width: 160px;
        }
        &::after {
          top: 13px;
          left: 0;
          z-index: 5;

          width: 160px;
          height: 8px;

          background-color: #f1c62a;

          transition: 0.1s ease;
        }
        &:hover {
          &::after {
            transform: scaleY(5);
          }
        }
      }
    }
    &:nth-child(2) {
      span {
        &::before {
          content: 'Гарантия';

          z-index: 10;

          width: 160px;
        }
        &::after {
          top: 13px;
          left: 0;
          z-index: 5;

          width: 160px;
          height: 8px;

          background-color: #f1c62a;

          transition: 0.1s ease;
        }
        &:hover {
          &::after {
            transform: scaleY(5);
          }
        }
      }
    }
    &:nth-child(3) {
      span {
        margin-bottom: 0;
        &::before {
          content: 'Кредит';
          
          left: 40px;
          z-index: 10;

          width: 160px;
        }
        &::after {
          top: 13px;
          left: 0;
          z-index: 5;

          width: 160px;
          height: 8px;

          background-color: #f1c62a;

          transition: 0.1s ease;
        }
        &:hover {
          &::after {
            transform: scaleY(5);
          }
        }
      }
    }
  }
  .active {
    span {
      color: #f7e184;

      background-color: #000000;
      &::after {
        display: none;
      }
    }
  }
}
